.header{
  height: 1em;
  background-color:#40669e;
  font-size:2em; color:#55a3db;
  text-align:center;
  color:#81c1ef;

}
.body{
  flex-direction: column;
  background-color:#5a89ce;
}
.main{
  display:flex;
  flex: auto;
  flex-direction: row;
  background-color: transparent;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.RegisterWidget{
  border-radius: 2em;
  border-color: #40669e;
  border-width: 0.5em;
  border-style: solid;
  color:#1a3142;
  width: 20em;
  margin: 2em;
  text-align: center;
  flex-grow: 1;
  /*float: left;*/
  background-color:#80adf2;
}
.LoginWidget{
  border-radius: 2em;
  border-color: #40669e;
  border-width: 0.5em;
  border-style: solid;
  color:#1a3142;
  width: 20em;
  margin: 2em;
  text-align: center;
  flex-grow: 1;
  /*float: right;*/
  background-color:#80adf2;
}
.form-container {
  border: 1px solid #002536;
  background: #edf6fa;
  flex-grow: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#96cde6), to(#edf6fa));
  background: -webkit-linear-gradient(top, #96cde6, #edf6fa);
  background: -moz-linear-gradient(top, #96cde6, #edf6fa);
  background: -ms-linear-gradient(top, #96cde6, #edf6fa);
  background: -o-linear-gradient(top, #96cde6, #edf6fa);
  background-image: -ms-linear-gradient(top, #96cde6 0%, #edf6fa 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
  -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
  box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
  font-family: 'Helvetica Neue',Helvetica,sans-serif;
  text-decoration: none;
  vertical-align: middle;
  min-width:300px;
  padding:20px;
  width:300px;
  margin: 2em;
}
.form-field {
  border: 1px solid #0073a8;
  background: #002536;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: white;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  padding:8px;
  margin-bottom:20px;
  width:280px;
}
.form-field:focus {
  background: #0073a8;
  color: #edf6fa;
}
.form-container h2 {
  font-size:18px;
  margin: 0 0 10px 0;
  font-weight:bold;
  text-align:center;
}
.form-title {
  margin-bottom:10px;
  color: #2d4752;
}
.submit-container {
  margin:8px 0;
  text-align:right;
}
.submit-button {
  border: 1px solid #002536;
  background: #96cde6;
  background: -webkit-gradient(linear, left top, left bottom, from(#edf6fa), to(#96cde6));
  background: -webkit-linear-gradient(top, #edf6fa, #96cde6);
  background: -moz-linear-gradient(top, #edf6fa, #96cde6);
  background: -ms-linear-gradient(top, #edf6fa, #96cde6);
  background: -o-linear-gradient(top, #edf6fa, #96cde6);
  background-image: -ms-linear-gradient(top, #edf6fa 0%, #96cde6 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;

  font-weight: bold;
  color: #2d4752;
  font-family: helvetica, serif;
  padding: 8.5px 18px;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  float: right;
}
.submit-button:hover {
  border: 1px solid #002536;
  text-shadow: #0f1f26 0 1px 0;
  background: #aac7d4;
  background: -webkit-gradient(linear, left top, left bottom, from(#aac7d4), to(#aac7d4));
  background: -webkit-linear-gradient(top, #aac7d4, #aac7d4);
  background: -moz-linear-gradient(top, #aac7d4, #aac7d4);
  background: -ms-linear-gradient(top, #aac7d4, #aac7d4);
  background: -o-linear-gradient(top, #aac7d4, #aac7d4);
  background-image: -ms-linear-gradient(top, #aac7d4 0%, #aac7d4 100%);
  color: #2d4752;
}
.submit-button:active {
  text-shadow: #002536 0 1px 0;
  border: 1px solid #002536;
  background: #edf6fa;
  background: -webkit-gradient(linear, left top, left bottom, from(#96cde6), to(#aac7d4));
  background: -webkit-linear-gradient(top, #96cde6, #edf6fa);
  background: -moz-linear-gradient(top, #96cde6, #edf6fa);
  background: -ms-linear-gradient(top, #96cde6, #edf6fa);
  background: -o-linear-gradient(top, #96cde6, #edf6fa);
  background-image: -ms-linear-gradient(top, #96cde6 0%, #edf6fa 100%);
  color: #2d4752;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #96cde6;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #96cde6;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #96cde6;
}
:-moz-placeholder { /* Firefox 18- */
  color: #96cde6;
}
