<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      function increase(){
        var value = parseInt($('#amountContainer').html());
        value++;
        if(value < 0){
          value = 0;
        }
        $('#amountContainer').text(value);

      }
      function decrease(){
        var value = parseInt($('#amountContainer').html());
        value--;
        if(value < 0){
          value = 0;
        }
        $('#amountContainer').text(value);
      }
    </script>
  </head>
  <!-- CSS -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <body class="body">
    <header class="header">
      <p>{{product[1]}}</p>
    </header>
    <div style="margin:0px auto;" class="main">
      <div style="margin:0px auto;" class="productContainer">
        <img src=" {{ url_for('static', filename=product[1].replace(" ", "-") + ".png") }} " />
        <p style="color: white;">{{product[2]}}</p>
        <p style="color: white;">COST: {{product[3]}}</p>
        <p style="color: white;">STOCK: {{product[4]}}</p>
        <p style="color: white;">SCORE: {{score}}</p>
        <div id="{{product[0]}}productControlContainer" class = "productControlContainer">
          <div id="{{product[0]}}productController" class= "productController">
            <div onclick="increase()" id="incController" class = "incController">+</div>
            <div onclick="decrease()" id="decController" class = "decController">-</div>
          </div>
          <div id="amountContainer" class = "amountContainer">0</div>
          <div id="productCartButton" class = "productCartButton"></div>
        </div>
      </div>
      <p style="color: white; font-size: 20px;">Reviews:</p>
      {% for review in reviews %}
        <p style="color: white;">{{review[3]}} wrote: {{review[5]}}, score: {{review[2]}}/5</p>
        {% if user.adminlevel > 0 %}
        <form action="{{url_for('removeReview')}}" method="POST">
          <input style="background-color: red" type="submit" name="reviewDelete" value="{{review[0]}} " />
        </form>
        {% endif %}
      {% endfor %}
    </div>
    <div>

      <form class="form-container" action="{{url_for('products')}}" method="POST" style:"float: right;">
        {% if len(ownComment) == 0 %}
        <p class="form-title">Review this product!</p>
        <input type="hidden" name="productIDReview" value="{{product[0]}}">
        <input class="form-field" type="text" name="comment" placeholder="Comment..."><br/>
        <input style="width: 60px;" type="number" placeholder="Score..." name="score" min="1" max="5"><br\>
        <input class="submit-button" type="submit" name="reviewSubmit" value="submit">
        {% endif %}
        {% if len(ownComment) > 0 %}
        <p class="form-title">You commented: {{ownComment[1]}}, rating: {{ownComment[0]}}/5</p>
        {% endif %}
      </form>
    </div>
  </body>
</html>
